<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="dsa" class="org.cfs.DSA" ></bean>

    <bean id="sb" class="org.cfs.SpringBoot" primary="true"></bean>

    <bean id="std" class="org.cfs.Student" autowire="byType">
    </bean>


</beans>